body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: flex-start; /* Aligns items at the top */
  padding-left: 150px; /* Space from the left edge of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: white;
}

.search-container {
  position: relative;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25vw; /* Adjust width as needed */
  overflow: hidden;
  background-color: #fff;
}

.search-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
}

.clear-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}

.results-container {
  position: relative;
  width: 25vw; /* Adjust to match the search bar or set to 100% for full width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  max-height: 300px; /* Adjust or remove for full height */
  overflow-y: auto; /* Scrollable content */
}

.user-card {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.user-card:last-child {
  border-bottom: none;
}

.user-card:hover, .user-card.active {
  background-color: hsla(34, 75%, 57%, 0.822);
}

.no-results-modal {
  width: 100WV; 
  min-height: 140px; 
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
  display: flex; /* Flexbox for centering content */
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  text-align: center; /* Text alignment */
  color: #888; /* Text color */
  font-size: 16px; /* Text size */
}

.results-container input {
  width: calc(100% - 40px); /* Adjust width to allow for padding */
  padding: 10px 20px; /* Padding for aesthetics */
  margin-bottom: 4px;
  font-size: 16px; /* Consistent font size */
}

.highlight {
  color: blue;
}
